.btn{
    border: 3px solid whitesmoke;
    width: 6vw;
    height: 6vh;
    text-align: center;
    cursor: pointer;
}
.flex{
    display: flex;
}
.row{
    align-items: center;
    justify-content: center;
}
input{
    width: 22.8vw;
    margin-bottom: 4vh;
}